#equipment-area {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 2vw;
}

.equipment-text {
    font-family: var(--font-family);
    color: white;
    font-size: 3.7vw;
    text-align: center;
}

.e-buttons {
    margin-bottom: 2.5vw;
    margin-right: 3em;
    padding: 0.4em 3em;
    border-radius: 60px;
    color: white;
    font-size: 1.5vw;
    border: transparent;
    background-color: var(--dark-green);
}
.e-buttons:last-child {
    margin-right: 0;
}

.e-buttons:focus {
    background-color: var(--light-green);
}

.slider-style {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31vw;
    width: 100%;
}
.s-buttons {
    width: 5vw;
    height: 5vw;
    font-size: 2vw;
    color: white;
    border-radius: 50%; 
    background-color: rgba(124, 124, 124, 0.3);
    margin: 3vw;
    border: 1px rgb(56, 56, 56) solid;
}

.s-buttons:active {
    background-color: rgba(71, 71, 71, 0.3);
}