#membership-container {
    padding-bottom: 6vw;
    padding-top: 2.5vw;
    width: 70%;
    margin: auto;
}

.membership-text {
    font-family: var(--font-family);
    color: white;
    font-size: 3.7vw;
}

.membership-below-text {
    padding-top: 1.6vw;
    font-family: Arial;
    font-style: normal;
    font-size: 1vw;
}

.container-cards {
  display: flex;
  
}

.individual-cards {
    width: calc(33.33% - 5.208vw);
}