
.signup-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 1.875vw;
    padding-left: 4vw;

}
.signin-section {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#barrinha {
    width: 0.26vw; 
    background-color: var(--light-green); 
    margin: 0 1.042vw;
    border-radius: 0.26vw;
}

#modal-logo{
    width: 10vw;
}

p1 {
  color: white;
  font-family: Arial;
  font-style: normal;
  font-size: 1.3vw;
  padding-top: 0.5vw;
}

p2 {
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-style: normal;
    font-size: 0.8vw;
    padding-top: 0.5vw;
    opacity: 63%;

}
p3 {

    color: white;
    font-family: Arial;
    font-style: normal;
    font-size: 0.9vw;
    padding-top: 0.2vw;
}

#password-subtext {
    color: white;
    font-size: 0.6vw;
    font-family: Arial;
    font-style: normal;
}

.modal-form {
	display: flex;
    flex-direction: column;
	align-items: baseline;
	position: relative;
	max-width: 100%;
    height: 74.5%;
    padding-top: 1vw;
}

.modal-input {
	font-size: 0.8vw;
	padding: 0.6vw 0.8vw;
	width: 80%;
	outline: none;
	background: transparent;
	color: #ffffff;
	border: 0.104vw solid #72987E;
	border-radius: 0.26vw;
	box-shadow: 0px 0px 0.104vw 0.052vw #000000;
	transition: .3s ease;
    margin-bottom: 0.4vw;
    margin-top: 0.4vw;
}

.modal-input:focus {
	background: #ffffff18;

	border: 0.104vw solid #72987E;
	border-radius: 0.26vw;
}

.modal-input::placeholder {
	color: #ABABAB;
}


.modal-button {
    bottom: 0;
    width: 80%;
	background: linear-gradient(to right, #78A083, #2B3C46);
	border-radius: 0.26vw;
    box-shadow: 0px 0px 0.156vw 0px black;
    border: 0px solid transparent;
	color:#ffffff;
	font-size:0.8vw;
	padding: 0.6vw 0.8vw;
    position: absolute;
    bottom: 0;
    left: 0; 
}
.modal-button:active {
	background: linear-gradient(to right, #668870, #223038);
}

.error-message {
    opacity: 0;
    background-color: #FFEBE9;
    border: 0.104vw solid #FFC1C0;
    width: 80%;
    padding: 0.3vw 0.8vw;
    border-radius: 0.26vw;
    margin-bottom: 1vw;

}

.error-message-active img {
    width: 5%;
    height: 100%;
}

.error-message-active {
    font-size: 0.7vw;
    margin-bottom: 1vw;
    font-family: Arial;
    font-style: normal;
    opacity: 1;
    transition: opacity 0.05s ease-in;
    background-color: #FFEBE9;
    border: 0.104vw solid #FFC1C0;
    width: 80%;
    padding: 0.3vw 0.8vw;
    border-radius: 0.26vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}