.header {
  display: flex;
  justify-content: space-between;
  height: 5.2vw;
  width: 95%;
  margin: auto;

}

#logo {
  width: 9.4vw;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  
}

#header-buttons {
  width: auto;
}

.h-buttons {
  font-family: var(--font-family);
  font-size: 20px;
  display: inline-block; 
  cursor: pointer;
  margin: 1.6vw 1vw; 
  color: #fff;
  background-color: transparent;
  text-decoration: none; 
  border: none; 
  transition: 0.3s ease;
}

.h-buttons:last-child {
  border-radius: 30px;
  padding: 5px 15px 5px;
  margin-right: 0;
  background-color: var(--light-green);
}

.h-buttons:last-child:hover {
  color: black;
}

.h-buttons:hover {
  color: #a2a1a1;
}


@media (max-width: 425px) {
  .h-buttons {
    font-size: 7px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .h-buttons {
    font-size: 11px;
  }
}

@media (min-width: 769px) and (max-width: 1440px){
  .h-buttons {
    font-size: 16px;
  }
}

@media (min-width: 1441px) {
  .h-buttons {
    font-size: 25px;
  }
}

