.header {
  display: flex;
  justify-content: space-between;
  height: 5.2vw;
  width: 95%;
  margin: auto;

}

#logo {
  width: 9.4vw;
  height: 1.563vw;
  margin-top: auto;
  margin-bottom: auto;
}

#header-buttons {
  width: auto;
}

.h-buttons {
  font-family: var(--font-family);
  font-size: 1.042vw;
  display: inline-block; 
  cursor: pointer;
  margin: 1.6vw 1vw; 
  color: #fff;
  background-color: transparent;
  text-decoration: none; 
  border: none; 
  transition: 0.3s ease;
  line-height: normal;
}

.h-buttons:last-child {
  border-radius: 1.563vw;
  padding: 0.26vw 0.781vw 0.26vw;
  margin-right: 0;
  background-color: var(--light-green);
}

.h-buttons:last-child:hover {
  color: black;
}

.h-buttons:hover {
  color: #a2a1a1;
}



