#container {
  background: rgb(39,55,64);
  background: linear-gradient(90deg, rgba(39,55,64,1) 0%, rgba(14,10,38,1) 35%);
  height: 100vh;
  width: 100vw;
  display: block;
 
}

#img-area {
  margin: auto;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
  color: white;
  width: 95%;
  overflow: visible;
}

#man {

  width: 100%;
  transition: transform 0.3s ease;
}

#man:hover {
  transform: scale(1.01);
}

#img-area-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  font-size: 3.7vw;
  text-align: start;
  font-family: var(--font-family);
}

#img-area-below-text {
  padding-top: 1em;
  font-family: Arial;
  font-size: 1.2vw;
}

#img-area-button {
  width: 24%;
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 8px;
}

#planos {
  margin-bottom: 0.5vw;
  padding: 0.7em 5em;
  border-radius: 60px;
  border: transparent;
  background-color: var(--light-green);
  color: white;
  font-size: 1vw;
  transition: color 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#planos:hover {
  color: black;
}

#planos:active { 
  transform: translateY(1px); 
} 

#arrows {
  padding-top: 20px;
  width: 70px;
}

.green {
  color: var(--light-green);
}

.bold-text {
  font-weight: bold;
}

br {
  margin: 0;
  padding: 0;
}

 