.container {
  background: rgb(39,55,64);
  background: linear-gradient(90deg, rgba(39,55,64,1) 0%, rgba(14,10,38,1) 35%);
  height: 100vh;
  width: 100vw;
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.container::-webkit-scrollbar {
  display: none;
}


